*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    border-style: none;
    
}

@font-face {
    font-family:Poppins-SemiBold ;
    src: url(/fontes/Poppins/Poppins-SemiBold.ttf);
}


@font-face {
    font-family:Poppins-Light ;
    src: url(/fontes/Poppins/Poppins-Light.ttf);
}


body{
    background-color: black;
}
/* HEADER */

nav{ 
    background-color: black;
    display: flex;
    justify-content: space-around;
    font-family: Poppins-SemiBold;
    position: fixed;
    width: 100%;
    margin-top: -10%;
    z-index: 101;
}

.logo img{
    width: 120px;
    padding-top: 7%;
    align-items: center;
    justify-content: center;
}


a{
    color: rgb(255, 255, 255);
}

ul{
   margin: 15px;
   display: flex;
   gap: 50px;
}

/* HEADER */

/* ----------- */

/* MAIN */

.main-section{
    margin-top: 10%;
    flex-direction: row;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap:wrap;
   
}

.main-text{
    line-height: 50px;
    font-size: 1.9rem;
    font-family: Poppins-SemiBold;
}

.main-text p{
    color: grey;
}


button{
   font-size: 1.2rem;
   font-family: Poppins-SemiBold;
   color: rgb(255, 255, 255);
   background-color: rgb(34, 104, 255);
   padding: 1px;
   width: 50%;
   border-radius: 5px;
}

button:hover{
    color: black;
    background-color: rgb(255, 255, 255);
    padding: 1px;
    width: 50%;
    border-radius: 5px;
 }

 /* MAIN */

.titulo{
    margin-top: 15%;
    font-family: Poppins-SemiBold;
    color: white;
    justify-content: center;
    text-align: center;
 }



 .nossos-serviços{
    margin: 5%;
    align-items: center;
    text-align: center;
    display: flex;
    border-radius: 5px;
    justify-content: space-around;
    background-color: white;
    font-family: Poppins-SemiBold;
 }


 .nossos-serviços2{
    margin: 5%;
    align-items: center;
    text-align: center;
    display: flex;
    border-radius: 5px;
    justify-content: space-around;
    background-color: white;
    font-family: Poppins-SemiBold;
 }


 @media (max-width: 760px)
 {
   .facet_sidebar
    {
     display: none;
    }

    .logo img {
        width: 120px;
        padding-top: 7%;
        align-items: center;
        justify-content: center;
    }


    .main-section{
        align-items: center;
        justify-content: center;
        display: block;
        text-align: center;
    }

    .main-section h1{
        padding-top: 25px;
        font-size: 1.5rem;
        line-height: 30px;
    }

    .main-section p {
        margin-top: -2%;
        font-size: 1.1rem;
    }

    button{
        width: 35%;
        margin-top: -20%;
    }


    
    .main-img img{
        margin-top: -10%;
        padding: 15%;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
 }

 

